.social-bar-container {
  width: 95%;
  max-width: 1680px;
  margin: 0 auto;
}

.social-bar {
  display: flex;
  gap: 0 0.75rem;
  width: fit-content;
  padding: 0.25rem;
  perspective: 100px;
}

a {
  cursor: pointer;
}

.social-icon {
  fill: var(--gold);
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease, fill 0.3s ease;
  cursor: pointer;
  transform: rotate3d(1, 1, 0, 90deg);
  transform-style: preserve-3d;
  animation: rotateToView 1s 1.25s ease-out forwards;
}

@media (min-width: 768px) {
  .social-icon {
    width: 32px;
    height: 32px;
  }
}

.social-icon:hover {
  transform: scale(1.1);
  fill: var(--color-accent, #f7d976);
}

@keyframes rotateToView {
  from {
    transform: rotate3d(1, 1, 0, 90deg);
  }
  50% {
    transform: rotate3d(1, 1, 0, 45deg);
  }
  60% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
