.social-bar-container {
  width: 90%;
  max-width: 1920px;
  margin: 0.5rem auto 0;
}

@media (min-width: 768px) {
  .social-bar-container {
    margin: 0 auto;
  }
}

.social-bar {
  display: flex;
  gap: 0 0.75rem;
  width: fit-content;
  padding: 0.25rem;
}

a {
  cursor: pointer;
}

.social-icon {
  fill: var(--gold);
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease, fill 0.3s ease;
  cursor: pointer;
  transform: rotate3d(1, 1, 0, 90deg);
  animation: rotateToView 0.5s 1s ease-out forwards;
}

@media (min-width: 768px) {
  .social-icon {
    width: 32px;
    height: 32px;
  }
}

.social-icon:hover {
  transform: scale(1.1);
  fill: var(--color-accent, #f7d976);
}

@keyframes rotateToView {
  from {
    transform: rotate3d(1, 1, 0, 90deg);
  }
  to {
    transform: rotate3d(1, 1, 0, 0deg);
  }
}
