.portal {
  width: fit-content;
}

.portal-title {
  font-family: 'Boldonse', sans-serif;
  text-align: center;
  font-size: 1.25rem;
  color: var(--gold);
}

.portal-link {
  display: block;
  margin-top: 2rem;
}
