.portal {
  width: fit-content;
  display: grid;
  grid-template-columns: 48px 1fr 48px;
  grid-template-rows: 48px auto;
  padding: 0.5rem;
  opacity: 0;
  animation: slideInLeft 0.5s ease-out 0.55s forwards;
}

.portal:nth-of-type(2) {
  animation: slideInRight 0.5s ease-out 0.55s forwards;
}

.portal-title {
  grid-column: 2;
  font-family: 'Boldonse', sans-serif;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5;
}

.portal-link {
  display: block;
  margin-top: 0.75rem;
  grid-column: 2;
}

.portal-info {
  grid-row: 2;
  padding: 0;
  height: 48px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: translate(1.5rem, -1rem);
}

.portal-info svg {
  width: 48px;
  height: 48px;
}

.portal-title,
.portal-info,
.portal-repo {
  color: grey;
  transition: color 0.3s ease-in-out;
}

.portal:hover .portal-title,
.portal:hover .portal-info,
.portal:hover .portal-repo {
  color: var(--color2);
}

.portal-repo {
  grid-row: 2;
  grid-column: 3;
  transform: translate(-1.5rem, -1rem);
}

.portal-repo svg {
  width: 48px;
  height: 48px;
}

.portal-info svg,
.portal-repo svg {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.portal-info svg:hover,
.portal-repo svg:hover {
  transform: scale(1.25);
  color: var(--color3);
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
