.modal-backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.modal {
  position: relative;
  overflow: hidden;
  width: 90%;
  max-width: 500px;
  padding: 2rem;
  border-radius: 1rem;
  outline: none;
  font-family: Boldonse;
  color: var(--portalColor2);
  filter: brightness(1.5);
  background: rgb(10, 10, 10);
  box-shadow: 0 0 15px 5px rgba(248, 221, 131, 0.4);
  animation: portalOpen 0.4s ease-out;
}

.modal-title {
  color: var(--portalColor1);
}

@keyframes fadeInBackdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes portalOpen {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
