.header {
  position: relative;
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: var(--default-bg);
  background-size: 16px 16px;
  border-bottom: 4px ridge var(--gold);
  box-shadow: 0 2px 8px 5px var(--default-bg);
}

.header:before {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2),
    var(--gold-overlay) 20%,
    var(--gold-overlay) 80%,
    rgba(0, 0, 0, 0.2)
  );
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.headline {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin-inline: auto;
  padding: 0.75rem 0.5rem 0;
  font-family: 'Boldonse', sans-serif;
  text-align: center;
  line-height: 1.25;
}

@media (min-width: 1080px) {
  .headline {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.hero,
.subtitle {
  opacity: 0;
  background: linear-gradient(90deg, #fdf9ec, var(--gold));
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.hero {
  align-self: flex-start;
  font-size: clamp(1.75rem, 5vw, 3.5rem);
  animation: slideInLeft 0.5s ease-out 0.1s forwards;
}

.subtitle {
  align-self: flex-end;
  font-size: clamp(1.25rem, 5vw, 2.5rem);
  margin-top: 0.5rem;
  animation: slideInRight 0.5s ease-out 0.2s forwards;
  padding-bottom: 0.5rem;
}

@media (min-width: 1080px) {
  .subtitle {
    margin-top: 2.5rem;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(1rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
