@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --default-bg: #fdf9ec;
  --header-bg: #282828;
  --gold: #f7d976;
  --gold-overlay: rgba(247, 217, 118, 0.2);
}

.header {
  position: relative;
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: var(--header-bg);
  background-size: 16px 16px;
}

.header:before {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2),
    var(--gold-overlay) 20%,
    var(--gold-overlay) 80%,
    rgba(0, 0, 0, 0.2)
  );
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header > h1 {
  position: relative;
  padding: 0.5rem 0 1.5rem;
  font-size: clamp(2rem, 5vw, 4rem);
  font-family: 'Inter', sans-serif;
  text-align: center;
  letter-spacing: 2px;
  background: linear-gradient(90deg, var(--default-bg), var(--gold));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  border-bottom: 4px ridge var(--gold);
  box-shadow: 0 2px 8px 5px var(--header-bg);
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 3rem;
  background-color: var(--default-bg);
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem 3rem;
  justify-content: center;
  padding-top: 2rem;
}

.projects-grid > div {
  flex: 0 1 40%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
