.container {
  width: 400px;
  height: 400px;
  position: relative;
  z-index: 999;
  isolation: isolate;
  clip-path: circle(60% at 50% 50%);
  transition: background-image 3s ease-in-out;
}

.warpSvg {
  position: absolute;
  width: 0;
  height: 0;
}

.image {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  filter: saturate(0.1);
  box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.2s ease-out;
}

.image:hover {
  filter: url(#warpFilter);
  box-shadow: inset 0 0 15px 15px rgba(0, 0, 0, 0.7);
}

.container::after,
.container::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(#b8b8b8, #696969, #b8b8b8, #696969, #b8b8b8);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 7px;
  box-sizing: content-box;
  border-radius: 50%;
  transition: background-image 5s ease-in-out;
}

.container::after {
  filter: blur(0.5rem);
}
.container::before {
  filter: blur(1.25rem);
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.container:hover::after,
.container:hover::before {
  background-image: conic-gradient(
    from var(--angle),
    var(--color1, #ff4545),
    var(--color2, #00ff99),
    var(--color3, #006aff),
    var(--color4, #ff0095),
    var(--color5, #ff4545)
  );
  animation: 3s spin linear infinite;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
